


body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    color: rgb(217, 217, 217);
}

table {
    margin: 20px;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
  }

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

tr:hover {
    background-color: #D6EEEE;
}

  
th, td {
    padding: 5px;
}


td {
    background-color: black;
    min-width: 40px;
}

.theoric-color {
    background-color: #007BFF;
}

.compute-color {
    background-color: #DC3545;
}



span {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}


#gammaChart {

    background-color: rgba(31, 31, 31,0);

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }



.flex-container div:hover {
    background-color: rgba(5, 66, 66, 0.2);
}

.flex-container div {
    flex: 1;
    padding: 20px;
}